.md-grid {
  max-width: 100%;
}

:root {
  --divider-color: rgba(0, 0, 0, 0.25);
}

[data-md-color-scheme="slate"] {
  --divider-color: rgba(255, 255, 255, 0.25);
}

.md-content {
  border-left: 2px solid var(--divider-color);
  border-right: 2px solid var(--divider-color);
}

.md-typeset {
  font-size: 0.85rem;
}

:root {
  --heading-color: #000;
}

[data-md-color-scheme="slate"] {
  --heading-color: #fff;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4 {
  color: var(--heading-color);
}

.md-typeset h1 {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.md-typeset h2 {
  font-size: 1.75rem;
  font-weight: 800;
  letter-spacing: -0.01em;
}

.md-typeset h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

.md-typeset h4 {
  font-weight: 700;
}
