.md-grid {
  max-width: 100%;
}

:root {
  --divider-color: rgba(0, 0, 0, 0.12);
}

[data-md-color-scheme="slate"] {
  --divider-color: rgba(255, 255, 255, 0.16);
}

.md-sidebar--primary {
  border-right: 1px solid var(--divider-color);
}

.md-sidebar--secondary {
  border-left: 1px solid var(--divider-color);
}

.md-typeset {
  font-size: 0.85rem;
}

.md-typeset h1 {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.md-typeset h2 {
  font-size: 1.75rem;
  font-weight: 800;
  letter-spacing: -0.01em;
}

.md-typeset h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

.md-typeset h4 {
  font-weight: 700;
}
